* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 50px;
}

.App table {
  width: 100%;
  text-align: center;
}

.App td {
  padding: 20px;
  background: #eee;
}

.App th {
  padding: 20px;
  background: #ddd;
}

nav {
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 20px;
}

nav li a {
  text-decoration: none;
  color: white;
}
